@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  display: none !important;
}
html.dark a,
html.dark p,
html.dark h3 {
  color: #d1d5db; /* gray-300 */
}

.wave1 use {
  animation: move-forever1 20s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 16s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 12s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shadow-right {
  box-shadow: 15px 0 15px -5px rgba(0, 0, 0, 0.85);
}

.max-w-md {
  max-width: 30rem;
}

.btn-protocol-shadow {
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
}
.staking-button-shadow {
  box-shadow: 0px 0px 3px #eebb19;
}

.feature-shadow {
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.5);
}
.primary-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.react-tooltip {
  z-index: 100;
  font-size: 13px;
  line-height: 125%;
  opacity: 1;
  max-width: 320px;
  text-align: center;
}

.yellowScroll::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  display: block !important;
}
.yellowScroll::-webkit-scrollbar-thumb:vertical {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #eebb19;
}
